* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default !important;
}

html,
body,
#root {
    height: 100%;
    background-color: #fff;
}

body {
    font-family: 'Montserrat', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #eee;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

.btn-close {
    display: none;
}
